.index-nav {
    position: absolute;
    display: flex;
    width: 95vw;
    justify-content: flex-end;
    height: 5vh;
    align-items: center;
}

body {
    background-color: #EAEBED;
    color: #474448;
}

.navbar {
    padding: 10px;
    color: #2e6da4;
    text-decoration: none;
}

.customer-order {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#customer-orders li {
    font-weight: bold;
    font-size: 18px;
}