#coverPhoto {
    width: 550px;
    border: 2px solid grey;
    display: block;
    margin: auto;
    margin-top: 2%;
}

p {
    width: 50%;
    margin: auto;
    margin-top: 2%;
    font-style: italic;
}

button {
    margin-top: 3%;
}