header {
    border-bottom-width: thick; border-block-end-style: double;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 140%;
    color: rgb(8, 8, 8)
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 4pt;
    background-color: rgba(56, 196, 56, 0.541)
}


header, section {
    padding: 10px 20px;
}

img{ 
    width: 400px;
    padding: .5cm;
}




